VOXIUM_DEBUG=true
VOXIUM_HOST=0.0.0.0
VOXIUM_PORT=8000
VOXIUM_UPLOAD_DIR=./voxium_data
VOXIUM_HF_TOKEN=
VOXIUM_WHISPER_MODEL=large-v2
VOXIUM_WHISPER_COMPUTE_TYPE=int8_float16
VOXIUM_WHISPER_DEVICE=cuda
VOXIUM_WHISPER_BATCH_SIZE=16
